name: Advent of Code 2018

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/2018.yml
      - 2018/**
  pull_request:
    paths:
      - .github/workflows/2018.yml
      - 2018/**

jobs:
  build-2018:
    strategy:
      matrix:
        python-version:
          - '3.11'
          - 'pypy-3.11'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "2018"

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with pylint
        run: pylint ./day*/
        if: ${{ !contains(matrix.python-version, '2.' )}}

      - name: Test with pytest
        run: pytest -n auto
        if: ${{ !contains(matrix.python-version, 'pypy' )}}

      - name: Test with pytest (slow)
        run: pytest -n auto --slow
        if: ${{ contains(matrix.python-version, 'pypy' )}}
